body{
  font-family: sans-serif;

}
#content{
  max-width: 600px;
  margin:auto;
}

#historyOutput{
  display: none;
}

#history_list li{
  list-style-type: none;
}

.history_counter{
  margin-left: 10px;
}
